DEFAULT_CLOUDFUNCTION_API_HOST = openwhisk.eu-gb.bluemix.net 
DEFAULT_CLOUDFUNCTION_NAMESPACE = carolagirolami_dev
DEFAULT_CLOUDFUNCTION_API_KEY = XXXXXXX
DEFAULT_CLOUDFUNCTION_SQLBUCKET = cos://us-geo/metadata.net STORED AS JSON
DEFAULT_CLOUDFUNCTION_PARSERS = { "hl7":"hl7parsercloudfunction"}
DEFAULT_IAM_ENDPOINT = https://iam.bluemix.net/oidc/token
DEFAULT_ENDPOINT_URL = https://s3-api.us-geo.objectstorage.softlayer.net
DEFAULT_SERVICE_API_KEY = XXXXXX
DEFAULT_SERVICE_INSTANCE_ID = crn:v1:bluemix:public:cloud-object-storage:global:XXXXXXXX
DEFAULT_OBJECTBUCKET = data.net
DEFAULT_METADATABUCKET = metadata.net